<!-- index.hbs -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<section>

    <h2>Events</h2>
    <p>Description</p>

    <article>
        {{!-- Create a table --}}
        <table id="events-table">

            {{!-- Header section --}}
            <thead>

                {{!-- For just the first row, we print each key of the row object as a header cell so we
                know what each column means when the page renders --}}
                <tr>
                    {{#each data.[0]}}
                    <th>
                        {{@key}}
                    </th>
                    {{/each}}
                    <th>Delete</th>
                </tr>
            </thead>

            {{!-- Body section --}}
            <tbody>

                {{!-- For each row, print the attribute columns in order --}}
                {{#each data}}
                <tr data-value={{this.EventID}}>
                    <td>{{this.EventID}}</td>
                    <td>{{this.Name}}</td>
                    <td>{{this.Date}}</td>
                    <td>{{this.Venue}}</td>
                    <td>{{this.Sport}}</td>
                    <td>{{this.Score}}</td>
                    <td>{{this.League}}</td>
                    <td>{{this.TicketPrice}}</td>
                    <td><button onclick="deleteEvent({{this.EventID}})">Delete</button></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </article>

    <article>
        {{!-- Form to add a record to the table  --}}
        <h3 id="add-event-form-header">Add Event</h3>
        <p id="add-event-form-description">Add an event by entering all the information below and press submit.</p>
        <form id="add-event-form-ajax">
            <label for="input-name">Name: </label>
            <input type="text" name="input-name" id="input-name" required>
            
            <label for="input-date">Date: </label>
            <input type="datetime-local" name="input-date" id="input-date" required>

            <select name="input-venue" id="input-venue" required>
                <option value="">Select a Venue</option>
                {{#each venues}}
                <option value="{{this.VenueID}}">{{this.Name}}</option>
                {{/each}}
            </select>

            <select name="input-sport" id="input-sport" required>
                <option value="">Select a Sport</option>
                {{#each sports}}
                <option value="{{this.SportID}}">{{this.Name}}</option>
                {{/each}}
            </select>

            <label for="input-score">Score: </label>
            <input type="text" name="input-score" id="input-score" required>

            <select name="input-league" id="input-league" required>
                <option value="">Select a League</option>
                {{#each leagues}}
                <option value="{{this.LeagueID}}">{{this.Name}}</option>
                {{/each}}
            </select>

            <label for="input-ticketprice">Ticket Price: </label>
            <input type="number" name="input-ticketprice" id="input-ticketprice" required>

            <input type="submit">
        </form>
    </article>

    <article id="update-event-article">
        <h3>Edit Event</h3>
        <p>Select an event to edit then fill</p>
        <form id="update-event-form-ajax">

            <label for="input-event-update">Event to Edit: </label>
            <select name="input-event-update" id="input-event-update" required>
                <option value="test">Select an Event</option>
                {{#each data}}
                <option value="{{this.EventID}}">{{this.Name}}</option>
                {{/each}}
            </select>

            <label for="input-name-update">Name: </label>
            <input type="text" name="input-name-update" id="input-name-update" required>
            
            <label for="input-date-update">Date: </label>
            <input type="datetime-local" name="input-date-update" id="input-date-update" required>

            <select name="input-venue-update" id="input-venue-update" required>
                <option value="">Select a Venue</option>
                {{#each venues}}
                <option value="{{this.VenueID}}">{{this.Name}}</option>
                {{/each}}
            </select>

            <select name="input-sport-update" id="input-sport-update" required>
                <option value="">Select a Sport</option>
                {{#each sports}}
                <option value="{{this.SportID}}">{{this.Name}}</option>
                {{/each}}
            </select>

            <label for="input-score-update">Score: </label>
            <input type="text" name="input-score-update" id="input-score-update" required>

            <select name="input-league-update" id="input-league-update" required>
                <option value="">Select a League</option>
                {{#each leagues}}
                <option value="{{this.LeagueID}}">{{this.Name}}</option>
                {{/each}}
            </select>

            <label for="input-ticketprice-update">Ticket Price: </label>
            <input type="number" name="input-ticketprice-update" id="input-ticketprice-update" required>

            <input type="submit">
        </form>
    </article>
</section>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_event.js"></script>
<script src="./js/delete_event.js"></script>
<script src="./js/update_event.js"></script>